h1 {
    color:rgb(148, 0, 211);
    font-size: 50px;
    text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.nav-link {

padding: 12px;
border: 2px solid #bbb;
border-radius: 300px;
text-decoration: blanchedalmond;
color: black;

}