

h1 {
    color: black;
    font-size: 50px;
    text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}





.nav-link {

padding: 12px;
border: 2px solid ridge;
border-radius: 300px;
text-decoration: none;
color: blue;

}